{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h3 class="mb-4">Admin: Find and Manage Book</h3>
        <form method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search by Book Name or Author Name" value="{{ query }}">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

        {% if query and books %}
            <div class="accordion" id="booksAccordion">
                {% for book in books %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ book.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ book.id }}" aria-expanded="false" aria-controls="collapse{{ book.id }}">
                                <strong>{{ book.name }}</strong> &nbsp; | &nbsp; Author(s): {% for author in book.authors.all %}{{ author.name }}{% if not forloop.last %}, {% endif %}{% endfor %} &nbsp; | &nbsp; Total: {{ book.total_quantity }} &nbsp; | &nbsp; Available: {{ book.available_quantity }}
                            </button>
                        </h2>
                        <div id="collapse{{ book.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ book.id }}" data-bs-parent="#booksAccordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Room No:</strong> {{ book.room_no }}</p>
                                        <p><strong>Shelf No:</strong> {{ book.shelf_no }}</p>
                                        <p><strong>Row:</strong> {{ book.row }}</p>
                                        <p><strong>Column:</strong> {{ book.column }}</p>
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center border-start">
                                        <p class="mb-2"><strong>Change Quantity</strong></p>
                                        <div class="btn-group mb-3" role="group">
                                            <form method="post" action="{% url 'admin_change_quantity' book.id 'decrease' %}" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-outline-danger px-3">-</button>
                                            </form>
                                            <button type="button" class="btn btn-light" disabled>{{ book.total_quantity }}</button>
                                            <form method="post" action="{% url 'admin_change_quantity' book.id 'increase' %}" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-outline-success px-3">+</button>
                                            </form>
                                        </div>
                                        <a href="{% url 'admin_delete_book' book.id %}" class="btn btn-danger btn-sm w-50">Delete Book</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
