{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3 class="mb-4">Find Book</h3>
        <form method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search by Book Name or Author Name" value="{{ query }}">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

        {% if query and books %}
            <div class="list-group">
                {% for book in books %}
                    <a href="{% url 'book_detail' book.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ book.name }}</h5>
                            <small>Available: {{ book.available_quantity }}</small>
                        </div>
                        <p class="mb-1">Author(s): 
                            {% for author in book.authors.all %}
                                {{ author.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
